<a href="https://colab.research.google.com/github/kaiyoken3618/Classification_Keras/blob/main/Classification_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount Google drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Data Read

In [3]:
import pandas as pd 
#read in training data
train_df_2 = pd.read_csv('/content/drive/MyDrive/data/diabetes_data.csv')

#view data structure
train_df_2.head()

   pregnancies  glucose  diastolic  triceps  ...   bmi    dpf  age  diabetes
0            6      148         72       35  ...  33.6  0.627   50         1
1            1       85         66       29  ...  26.6  0.351   31         0
2            8      183         64        0  ...  23.3  0.672   32         1
3            1       89         66       23  ...  28.1  0.167   21         0
4            0      137         40       35  ...  43.1  2.288   33         1

[5 rows x 9 columns]

Removing target column for training

In [4]:
#create a dataframe with all training data except the target column
train_X_2 = train_df_2.drop(columns=['diabetes'])

#check that the target variable has been removed
train_X_2.head()

   pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
0            6      148         72       35        0  33.6  0.627   50
1            1       85         66       29        0  26.6  0.351   31
2            8      183         64        0        0  23.3  0.672   32
3            1       89         66       23       94  28.1  0.167   21
4            0      137         40       35      168  43.1  2.288   33

Dataframe with only Target Column

In [5]:
#create a dataframe with only the target column
train_y = train_df_2[['diabetes']]

#view dataframe
train_y.head()

   diabetes
0         1
1         0
2         1
3         0
4         1

Performing One- Hot encoding on the case

In [6]:
from keras.utils import to_categorical
#one-hot encode target column
train_y_2 = to_categorical(train_df_2.diabetes)

#vcheck that target column has been converted
train_y_2[0:5]

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.]], dtype=float32)

Model Creation

In [7]:
#create model 
from keras.models import Sequential
from keras.layers import Dense
model_2 = Sequential()

#get number of columns in training data
n_cols_2 = train_X_2.shape[1]

#add layers to model
model_2.add(Dense(250, activation='relu', input_shape=(n_cols_2,)))
model_2.add(Dense(250, activation='relu'))
model_2.add(Dense(250, activation='relu'))
model_2.add(Dense(2, activation='softmax'))

Compiling Model

In [8]:
#compile model using accuracy to measure model performance
model_2.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

Model Training

In [13]:
from keras.callbacks import EarlyStopping
#set early stopping monitor so the model stops training when it won't improve anymore
#early_stopping_monitor = EarlyStopping(patience=3) 

#train model
hist = model_2.fit(train_X_2,train_y_2, validation_split=0.2, epochs=30)

Epoch 1/30
20/20 [==============================] - 0s 7ms/step - loss: 0.5514 - accuracy: 0.7248 - val_loss: 0.6342 - val_accuracy: 0.6688
Epoch 2/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5137 - accuracy: 0.7329 - val_loss: 0.6018 - val_accuracy: 0.6948
Epoch 3/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5319 - accuracy: 0.7134 - val_loss: 0.6041 - val_accuracy: 0.7078
Epoch 4/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5114 - accuracy: 0.7492 - val_loss: 0.5975 - val_accuracy: 0.7143
Epoch 5/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5132 - accuracy: 0.7248 - val_loss: 0.6110 - val_accuracy: 0.6753
Epoch 6/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5288 - accuracy: 0.7362 - val_loss: 0.6869 - val_accuracy: 0.6883
Epoch 7/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5365 - accuracy: 0.7150 - val_loss: 0.6212 - val_accuracy: 0.6688
Epoch 8/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5257 - accuracy: 0.7459 - val_loss: 0.6161 - val_accuracy: 0.7338
Epoch 9/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5111 - accuracy: 0.7476 - val_loss: 0.6367 - val_accuracy: 0.6753
Epoch 10/30
20/20 [==============================] - 0s 5ms/step - loss: 0.5415 - accuracy: 0.7215 - val_loss: 0.5729 - val_accuracy: 0.7727
Epoch 11/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5647 - accuracy: 0.7199 - val_loss: 0.6052 - val_accuracy: 0.6753
Epoch 12/30
20/20 [==============================] - 0s 5ms/step - loss: 0.5345 - accuracy: 0.7280 - val_loss: 0.5941 - val_accuracy: 0.7338
Epoch 13/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5283 - accuracy: 0.7313 - val_loss: 0.5964 - val_accuracy: 0.6818
Epoch 14/30
20/20 [==============================] - 0s 5ms/step - loss: 0.5264 - accuracy: 0.7459 - val_loss: 0.6297 - val_accuracy: 0.6818
Epoch 15/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5095 - accuracy: 0.7524 - val_loss: 0.5823 - val_accuracy: 0.7468
Epoch 16/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5497 - accuracy: 0.7345 - val_loss: 0.6121 - val_accuracy: 0.6948
Epoch 17/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5316 - accuracy: 0.7166 - val_loss: 0.5824 - val_accuracy: 0.7208
Epoch 18/30
20/20 [==============================] - 0s 4ms/step - loss: 0.4971 - accuracy: 0.7557 - val_loss: 0.5687 - val_accuracy: 0.7597
Epoch 19/30
20/20 [==============================] - 0s 4ms/step - loss: 0.4760 - accuracy: 0.7573 - val_loss: 0.6402 - val_accuracy: 0.7013
Epoch 20/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5076 - accuracy: 0.7638 - val_loss: 0.6031 - val_accuracy: 0.6818
Epoch 21/30
20/20 [==============================] - 0s 4ms/step - loss: 0.4889 - accuracy: 0.7524 - val_loss: 0.6005 - val_accuracy: 0.7208
Epoch 22/30
20/20 [==============================] - 0s 4ms/step - loss: 0.4975 - accuracy: 0.7508 - val_loss: 0.5660 - val_accuracy: 0.7403
Epoch 23/30
20/20 [==============================] - 0s 4ms/step - loss: 0.4839 - accuracy: 0.7834 - val_loss: 0.6058 - val_accuracy: 0.6883
Epoch 24/30
20/20 [==============================] - 0s 4ms/step - loss: 0.4953 - accuracy: 0.7541 - val_loss: 0.5871 - val_accuracy: 0.7532
Epoch 25/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5018 - accuracy: 0.7492 - val_loss: 0.6374 - val_accuracy: 0.7013
Epoch 26/30
20/20 [==============================] - 0s 4ms/step - loss: 0.5026 - accuracy: 0.7410 - val_loss: 0.5828 - val_accuracy: 0.7597
Epoch 27/30
20/20 [==============================] - 0s 4ms/step - loss: 0.4947 - accuracy: 0.7476 - val_loss: 0.6128 - val_accuracy: 0.7532
Epoch 28/30
20/20 [==============================] - 0s 5ms/step - loss: 0.5180 - accuracy: 0.7345 - val_loss: 0.6259 - val_accuracy: 0.7013
Epoch 29/30
20/20 [==============================] - 0s 4ms/step - loss: 0.4854 - accuracy: 0.7459 - val_loss: 0.5864 - val_accuracy: 0.7403
Epoch 30/30
20/20 [==============================] - 0s 4ms/step - loss: 0.4831 - accuracy: 0.7524 - val_loss: 0.6239 - val_accuracy: 0.7208

Testing

In [14]:
d = {'pregnancies': [1], 'glucose': [85],'diastolic': [66],'triceps': [29],'insulin': [0],'bmi': [26.6],'dpf': [0.35],'age': [30]} 
df = pd.DataFrame(data=d) 
df 
 
test_y_predictions = model_2.predict(df) 
print(test_y_predictions)

[[0.8583609  0.14163911]]